<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PC</title>
    <style>
        .alternativa {
            cursor: pointer;
        }
    </style>
</head>
<body id="body">
    <div id="status" style="float:right;">
        <p></p>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acertos</th>
                </tr>
            </thead>
            <tbody v-for="(user, index) in users">
                <tr>
                    <td v-bind:style="{ color: user.userColor }">{{ user.userId }}</td>
                    <td>0</td>
                </tr>
            </tbody>            
        </table>
    </div>
    <div class="pergunta">
        <h2>{{ pergunta }}</h2>
        <div class="alternativas" v-for="(alternativa, index) in alternativas">
            <div class="alternativa" v-on:click="enviar"><b>{{ alfabeto[index] }}</b>. {{ alternativa }}</div>
        </div>
        <p id="quem-respondeu"></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }


    if(     
            window.localStorage.getItem("userId") === undefined || 
            window.localStorage.getItem("userId") === '' ||
            window.localStorage.getItem("userId") === null
        )
        window.localStorage.setItem("userId", makeid());

    var user = window.localStorage.getItem("userId");

    var socket = io.connect(window.location.origin, { query: 'userId=' + user });

    var alfabeto = ['A','B','C','D','E','F','G'];
    var pergunta = new Vue({
        el: '.pergunta',
        data: {
            pergunta: '',
            alfabeto: alfabeto,
            alternativas: []
        },
        methods: {
            enviar: function (event) {
                let alternativa = $(event.target).find('b').html();
                socket.emit('resposta', { user: user, alternativa: alternativa });
            }
        }
    });

    var usuarios = new Vue({
        el: '#status table',
        data: {
            users: {}
        }
    });

    socket.on('nova-resposta', function(data) {
        $('#quem-respondeu').append(`<span>${data.user} respondeu ${data.alternativa}</span><br/>`);
    });

    socket.on('end-question', function(data) {
        $('#quem-respondeu').append(`<span>Todos responderam<br/>`);
        $('.pergunta').hide();
    });

    socket.on('new-question', function(data) {
        pergunta.pergunta = data.pergunta;
        pergunta.alternativas = data.alternativas;

        $('.pergunta').show();
    });

    socket.on('new-user', function(data) {
        $('#status p').text(data.totalUsers + ' Usuários');

        usuarios.users = data.clients;
    });

    socket.on('end-game', function(data) {
        $('#status p').text('Acabou tudo!');
    });
    </script>
<!--

    De quem é a famosa frase “Penso, logo existo”?
-->

</body>
</html>